<nav
  class="bg-white shadow-md px-6 py-3 flex justify-between items-center sticky top-0 z-50"
>
  <div class="text-xl font-bold text-blue-600">MonApp</div>

  <div class="space-x-6">
    <a routerLink="/" class="text-gray-800 hover:text-blue-600 transition"
      >Accueil</a
    >
    <a
      routerLink="/announcement"
      class="text-gray-800 hover:text-blue-600 transition"
      >À propos</a
    >
    <a href="#footer" class="text-gray-800 hover:text-blue-600 transition"
      >Contact</a
    >
  </div>
</nav>
